body {
    font-family: 'Arial', sans-serif;
    margin: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}